body {
    color: #282425;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

/*.hlavicka {
    background-image: url(Obrázky/creme\ brulee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    ;
}*/

h1 {
    text-align: center;
}

.paticka {
    background-color: #282425;
    text-align: center;
    color: whitesmoke;
    padding: 20px, 15%;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.omne img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 40px;
    margin-bottom: 25px;
    overflow: auto;
}

a {
    color: #8B7F74;
    text-decoration: none;
}

.creme-bulee img {
    float: right;
    overflow: auto;
    width: 100px;
}

