body {
    color: #282425;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

.hlavicka {
    background-image: url(Obrázky/puntíky.png);
    padding: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

h1 {
    text-align: center;
}

h2 {
    border: 2px violet;
}

h3 {
    font-size: 21px;
}

.paticka {
    background-color: #282425;
    text-align: center;
    color: whitesmoke;
    padding: 20px 15%;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.omne img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 40px;
    margin-bottom: 25px;
    overflow: auto;
}

a {
    color: #8B7F74;
    text-decoration: none;
}


.omne h2 {
    clear: left;
}

.ostatni {
    padding-top: 0;
}