body {
    color: #282425;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

.hlavicka {
    /*background-image: url(Obrázky/puntíky.png);*/
    /*padding: 90px;*/
   /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    padding: 15px 15%;
    background-color: #E6E6FA;

}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #FFDFD3;
    text-decoration-thickness: 7px;
}

h3 {
    font-size: 21px;
    text-decoration: underline;
    text-decoration-color: #FFF8B8;
    text-decoration-thickness: 2px;
}

.paticka {
    background-color: #282425;
    text-align: center;
    color: whitesmoke;
    padding: 20px 15%;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.omne img {
    border-radius: 50%;
    width: 200px;
    float: left;
    margin-right: 40px;
    margin-bottom: 25px;
    overflow: auto;
}

.ostatni a {
    color: #8B7F74;
    text-decoration: none;
}


.omne h2 {
    clear: left;
}

.ostatni {
    padding-top: 0;
}

.ostatni img {
    width: 300px;
    float: right;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;    
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: #282425;
    /*text-decoration: none;*/
    padding: 20px 30px;
    text-decoration-color: #FFF;
    text-decoration-thickness: 6px;
    transition: text-decoration 0.4s;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    text-decoration-color: #C9F1FF;
}

a {
    color: #8B7F74;
    text-decoration-color: #FFF;
    text-decoration-thickness: 4px;
    transition: text-decoration 0.4s;
}

a:hover,
a:focus {
    text-decoration-color: #FFDFD3;
}

.jmeno {
    font-weight: bold;
}